@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    transition: all 200ms ease;
}

body{
    background-color: #1f2029;
    min-height: 100%;
    background-size: cover;
    
}

#icono{
    max-height: 60px;
}

.title{
    color: #f0db4f;
    width: 100%;
    text-align: center;
}

.filters{
    display: flex;
    justify-content: center;
}